<tr class="{{error.get_row_classes(user)}}" id="error-{{ error.id }}" data-errorid="{{ error.id }}" data-url="{{ route_url('error_view', project=selected_project.token, id=error.id) }}" data-timelatest="{{ error.timelatest }}">
	{% block error_row %}
	<td class="occurances vmiddle">
		{% block left_cell %}
		<span class="dot"></span>
		<input class="multiselect" type="checkbox" name="multiselect" value="{{ error.id }}" />
		<span class="badge badge-important">{{ error.count|int }}</span>
		{% endblock %}
	</td>
	<td class="error">
		{% block middle_cell %}
		<div class="error">
			{% if error.message %}
				{{ error.message }}
			{% else %}
				An unknown error has occurred
			{% endif %}
		</div>
		<div class="detail">
			<span class="detail-type">{{ error.type }} in {{ basename(error.file) }} on line {{ error.line }}</span>
			<span class="detail-tags">{% for tag in error.tags %}<span class="label label-{{ tag }}">{{ tag }}</span>{% endfor %}</span>
		</div>
		{% endblock %}
	</td>
	<td class="activity">
		{% if error.claimedby %}
			<span class="tooltip-toggle claimed-by" data-original-title="Claimed by {{ error.claimedby.name }}">
				<i class="icon-star"></i> {% if error.claimedby == user %}You{% endif %}
			</span>
		{% endif %}

		{% if error.comments %}
			<span class="tooltip-toggle" data-original-title="Last comment by {{ error.comments[-1].author.name }}">
				<i class="icon-comment"></i> {{ error.comments.__len__() }}
			</span>
		{% endif %}
	</td>
	<td class="date">
		{{ date(error.timefirst) }}
	</td>
	<td class="date">
		{{ date(error.timelatest) }}
	</td>
	{% endblock %}
</tr>
