{% extends "layout/fluid.html" %}

{% block middlebar %}

<div class="search">
	<form action="" method="get" id="errorlist-search">
		<div class="input-prepend">
			<span class="add-on"><i class="icon-search"></i></span><input type="text" name="search" placeholder="message, type, user or tag" value="{{ search }}" class="searchfield span3" />
		</div>
	</form>
</div>

<ul id="error-tabs" class="nav nav-tabs" data-show="{{show}}">
	<li class="{{ switch(show=='open') }}" data-name="open">
		<a href="{{route_url('error_list', project=selected_project.token)}}" title="{{counts.open}} open, {{counts.openUnseen}} unseen">
			Open (<span class="count">{{counts.open}}</span>/<span class="unseen">{{counts.openUnseen}}</span>)</a>
	</li>
	<li class="{{ switch(show=='resolved') }}" data-name="resolved">
		<a href="{{route_url('error_list', project=selected_project.token)}}?show=resolved" title="{{counts.resolved}} resolved, {{counts.resolvedUnseen}} unseen">
			Resolved (<span class="count">{{counts.resolved}}</span>/<span class="unseen">{{counts.resolvedUnseen}}</span>)</a>
	</li>
	<li class="{{ switch(show=='mine') }}" data-name="mine" title="{{counts.mine}} mine">
		<a href="{{route_url('error_list', project=selected_project.token)}}?show=mine">Mine (<span class="count">{{counts.mine}}</span>)</a>
	</li>
</ul>
{% endblock %}


{% block content %}

<div id="information" class="{{ show }}">

	<div id="aggregate-action-container" class="btn-toolbar">
		<div class="btn-group">
			<a class="btn" data-action="claim"><i class="icon-star"></i> Claim</a>
			<a class="btn" data-action="unclaim"><i class="icon-star-empty"></i> Unclaim</a>
			<a class="btn" data-action="resolve"><i class="icon-ok"></i> Resolve</a>
			<a class="btn" data-action="unresolve"><i class="icon-fire"></i> Unresolve</a>
			<a class="btn" data-action="markseen"><i class="icon-eye-open"></i> Mark as seen</a>
			<a class="btn" data-action="markunseen"><i class="icon-eye-close"></i> Mark as unseen</a>
		</div>
	</div>

	<div class="changes-info alert alert-info">
		There have been <span class="errcount"></span> changes to errors since you last reloaded. <a class="reload" href="">Click to reload</a>
	</div>

	<table class="error-list table">
		<thead>
			<tr id="order-items" data-orderby="{{order_by}}">
				<th class="{{ switch(order_by=='occurances') }} {{direction}}" data-name="occurances" width="100">
					<a href="{{route_url('error_list', project=selected_project.token)}}?show={{show}}&amp;order_by=occurances&amp;direction={{direction}}">
						Occurances <i class="icon-white"></i>
					</a>
				</th>
				<th>Error message</th>
				<th class="{{ switch(order_by=='activity') }} {{direction}}" data-name="activity" width="60">
					<a href="{{route_url('error_list', project=selected_project.token)}}?show={{show}}&amp;order_by=activity&amp;direction={{direction}}">
						Activity <i class="icon-white"></i>
					</a>
				</th>
				<th class="{{ switch(order_by=='firstoccurrence') }} {{direction}}" data-name="firstoccurrence" width="80">
					<a href="{{route_url('error_list', project=selected_project.token)}}?show={{show}}&amp;order_by=firstoccurrence&amp;direction={{direction}}">
						First Seen <i class="icon-white"></i>
					</a>
				</th>
				<th class="{{ switch(order_by=='date') }} {{direction}}" data-name="date" width="80">
					<a href="{{route_url('error_list', project=selected_project.token)}}?show={{show}}&amp;order_by=date&amp;direction={{direction}}">
						Last Seen <i class="icon-white"></i>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			{% include ['errors/list.html'] %}
		</tbody>

	</table>

	<div style="text-align:center;">
		<button id="loadmore" class="btn btn-large">
			<i class="icon-repeat"></i>
			Load more errors
		</button>
	</div>

</div>

{% endblock %}


{% block footer %}


<div class="pane-padding"></div>
<div class="pane tabbable tabs-below">

	<div class="pane-container tab-content">
		<div class="pane-inner">
		</div>
	</div>

	<ul class="pane-actions nav nav-tabs">
		<li data-view="summary"><a href="javascript:void(0);">Summary</a></li>
		<li data-view="backtrace"><a href="javascript:void(0);">Backtrace</a></li>
		<li data-view="context"><a href="javascript:void(0);">Context</a></li>
		<li data-view="similar"><a href="javascript:void(0);">Similar Errors</a></li>
		<li data-view="comments"><a href="javascript:void(0);">Comments</a></li>
	</ul>

</div>
{% endblock %}

